{
  "extends": [
   "./eslint/index.js",
    "airbnb", 
    "airbnb/hooks"
  ],
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
      "arrow-body-style": "off",
      "import/prefer-default-export": "off",
      "import/no-cycle": "off",
      "no-bitwise": "off",
      "no-continue": "off",
      "no-plusplus": "off",
      "consistent-return": "off",
      "no-shadow": "off",
      "lines-between-class-members": "off",
      "no-use-before-define": "off",
      "max-classes-per-file": "off",
      "no-console": "off",
      "import/extensions": "off",
      "import/no-duplicates": "off",
      "import/newline-after-import": "off",
      "no-unused-vars": "off",
      "react/jsx-props-no-spreading": "off",
      "react/jsx-filename-extension": "off",
      "react/function-component-definition": "off",
      "react/require-default-props": "off",
      "import/no-extraneous-dependencies": "off",
      "spaced-comment": "off",
      "react/self-closing-comp": "off",
      "react/button-has-type": "off",
      "react/jsx-boolean-value": "off",
      "no-alert": "off",
      "no-undef": "off",
      "jsx-a11y/label-has-associated-control": "off",
      "no-useless-return": "off",
      "prefer-template": "off",
      "prefer-destructuring": "off",
      "react/no-danger": "off",
      "jsx-a11y/no-static-element-interactions": "off",
      "jsx-a11y/click-events-have-key-events": "off",
      "import/order": "off",
      "react/jsx-curly-brace-presence": "off",
      "object-shorthand": "off",
      "jsx-a11y/no-noninteractive-element-interactions": "off",
      "no-unneeded-ternary": "off",
      "no-param-reassign": "off",
      "no-else-return": "off",
      "react-hooks/exhaustive-deps": "off",
      "func-names": "off",
      "prefer-arrow-callback": "off",
      "react/no-array-index-key": "off",
      "no-empty-pattern": "off",
      "react/no-unstable-nested-components": "off",
      "class-methods-use-this": "off",
      "default-case": "off",
      "no-duplicate-case": "off",
      "eqeqeq": "off",
      "one-var": "off",
      "no-unsafe-optional-chaining": "off",
      "prefer-const": "off",
      "no-unused-expressions": "off",
      "no-lone-blocks": "off",
      "no-nested-ternary": "off",
      "no-array-constructor": "off",
      "jsx-a11y/no-redundant-roles": "off",
      "jsx-a11y/control-has-associated-label": "off",
      "no-useless-rename": "off",
      "react/no-unused-prop-types": "off",
      "react/jsx-fragments": "off",
      "vars-on-top": "off",
      "react/jsx-no-useless-fragment": "off",
      "no-useless-concat": "off",
      "no-return-await": "off",
      "no-underscore-dangle": "off",
      "dot-notation": "off",
      "no-useless-catch": "off",
      "no-empty": "off",
      "react/react-in-jsx-scope": "off",
      "import/no-unresolved":"off",
      "@typescript-eslint/no-unused-vars":"off",
      "react/prop-types": "off",
      "object-curly-newline": "off"
  }
}
